* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 200px 200px 300px;
    grid-template-rows: 60px 150px 60px; */
    grid-template: 60px 150px 60px / 200px 200px 300px;
    /* column-gap: 20px;
    row-gap: 20px; */
    gap: 20px;
}

.grid-elem {
    /* height: 50px; */
    background-color: rgba(1, 1, 96, 1);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
}